services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Tourze\AwsS3StorageBundle\Adapter\:
        resource: '../../Adapter/'
    Tourze\AwsS3StorageBundle\Client\:
        resource: '../../Client/'
    Tourze\AwsS3StorageBundle\Factory\:
        resource: '../../Factory/'
        public: true
    Tourze\AwsS3StorageBundle\Helper\:
        resource: '../../Helper/'
